body{
  font-family: 'Shadows Into Light', cursive !important;
  background-color:black;
  color:darkgray;
}

.text-title{
  font-family: 'Holtwood One SC', serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-salmon{
  color:salmon;
}
